
<% include partials/_header %>
<% include partials/_fondo %>

<div class="abs1 justify-content-center row container my-5 index50 col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <button id="cerrar" class="btn btn-danger index50 col-3">Pokedex</button>
    <div id="contenido" class=" justify-content-center col-10 mt-5 row">
    </div>
</div>

<% include partials/_scripts%>
<% include partials/_footer%>