<div id="contenedor" class=" row col-12 hai " style="box-sizing: content-box">

    <div id="div1" class=" col-xs-1 col-md-1 col-sm-1 col-lg-1">
            <img id="img1" src="../../img/pokebolas/1" class=" img-responsive imag" />
    </div>
    <div id="div2" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img2" src="../../img/pokebolas/4" class=" img-responsive imag" />
    </div>
    <div id="div3" class=" col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img3" src="../../img/pokebolas/9" class=" img-responsive imag" />
    </div>
    <div id="div4" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img4" src="../../img/pokebolas/11" class="img-responsive imag" />
    </div>
    <div id="div5" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img5" src="../../img/pokebolas/18" class="img-responsive imag" />
    </div>
    <div id="div6" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img6" src="../../img/pokebolas/25" class="img-responsive imag" />
    </div>
    <div id="div7" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img7" src="../../img/pokebolas/21" class="img-responsive imag" />
    </div>
    <div id="div8" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img8" src="../../img/pokebolas/6" class="img-responsive imag" />
    </div>
    <div id="div9" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img9" src="../../img/pokebolas/8" class="img-responsive imag" />
    </div>
    <div id="div10" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img10" src="../../img/pokebolas/2" class="img-responsive imag" />
    </div>
    <div id="div11" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img11" src="../../img/pokebolas/22" class="img-responsive imag" />
    </div>
    <div id="div12" class="col-xs-1 col-md-1 col-sm-1 col-lg-1 ">
            <img id="img12" src="../../img/pokebolas/10" class="img-responsive imag" />
    </div>
</div>