<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css.css">

    <title>Pokemegadex</title>
</head>

<body>
    <!-- <nav class="navbar nabvar-dark bg-dark">
        <a href="/" class="navbar-brand">Pokedex</a>
    </nav> -->
    <div class="pos-f-t ">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Filtro de Búsqueda</h5>
                <span class="text-muted">Tipos</span>

                <div class="form-row">
                    <div class="col form-group">
                        <label for="exampleFormControlSelect1" style="color:white">Seleccione un
                            tipo o
                            ninguno</label>
                        <select class="form-control" id="tipo1">
                            <option value="">tipo 1</option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <label for="exampleFormControlSelect1" style="color:white">Seleccione un
                            tipo o
                            ninguno</label>
                        <select class="form-control" id="tipo2">
                            <option value=""> tipo 2</option>
                        </select>
                    </div>


                </div>

                <div id="filtros" class="row col-12 container"></div>
                <form>
                    <div class="form-row mt-2">
                        <div class="col">
                            <input id="AttackMin" type="text" class="form-control" placeholder="Attack Min">
                        </div>
                        <div class="col">
                            <input id="AttackMax" type="text" class="form-control" placeholder="Attack Max">
                        </div>
                        <div class="col">
                            <input id="DefMin" type="text" class="form-control" placeholder="Def Min">
                        </div>
                        <div class="col">
                            <input id="DefMax" type="text" class="form-control" placeholder="Def Max">
                        </div>
                        <div class="col">
                            <input id="HPMin" type="text" class="form-control" placeholder="HP Min">
                        </div>
                        <div class="col">
                            <input id="HPMax" type="text" class="form-control" placeholder="HP Max">
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col">
                            <input id="sAttackMin" type="text" class="form-control" placeholder="sAttack Min">
                        </div>
                        <div class="col">
                            <input id="sAttackMax" type="text" class="form-control" placeholder="sAttack Max">
                        </div>
                        <div class="col">
                            <input id="sDefMin" type="text" class="form-control" placeholder="sDef Min">
                        </div>
                        <div class="col">
                            <input id="sDefMax" type="text" class="form-control" placeholder="sDef Max">
                        </div>
                        <div class="col">
                            <input id="SpeedMin" type="text" class="form-control" placeholder="Speed Min">
                        </div>
                        <div class="col">
                            <input id="SpeedMax" type="text" class="form-control" placeholder="Speed Max">
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark ">
            <div class="row col-12 justify-content-between">
                <div class="col-5">
                    <button id="botonnav" class="navbar-toggler collapsed " type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png"
                        class="img-responsive imag2">
                </div>
                <div class="form-inline mt-2 col-auto">
                    <input id="pokeNombre" class="form-control mr-1" type="text" placeholder="ingresar Poke-nombre">
                    <button id="buscar" class="my-2 my-sm-0 btn btn-outline-primary">Buscar</button>
                </div>
            </div>
        </nav>
    </div>