.colorBlanco{
    color:white;
}

.imag {
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 30;
}

.hai {
    position: fixed;
    height: 120%;
    top: -20%;
    z-index: -50;
    background-color: black;
}

.tama {
    height: 200px;
    width: 200px;
}
a{
min-width: fit-content;
background-color: burlywood;
} 
ul{
    padding-inline-start: 5px;
}

.abs1 {
    position: absolute;
}
.imag2{
    height: 50px;
    width: auto;
}
.popover{
    font-size: medium;
    border-radius: 5px;
    background-color: #dc3545;
    white-space: pre-line;
    max-width: fit-content;

}

.popover-header {
    color: white;
    background-color: #343a40;
}

.popover-body{
    width: fit-content;
}
.bs-popover-auto[x-placement^=right]>.arrow::after, .bs-popover-right>.arrow::after {
    border-right-color: #dc3545;
}